 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Eric Tendian, Co-founder of <a href="#">Clarify</a>, is a student entrepreneur with a passion for using technology to transform education and solve other social problems. With a strong technology knowledgebase and the experience from working at multiple early-stage organizations, he creates technology solutions which solve problems efficiently and result in long-term success. He is excited to take on challenges and work under pressure, while being very attentive to detail. Graduating from the Illinois Institute of Technology with a Bachelor's degree in Information Technology and Management in 2017.</p>
                    <p>Previous to Clarify, he has worked with various <a href="http://jokes4miles.com/">nonprofits</a> and <a href="http://mypages.iit.edu/~commuter/">student</a> <a href="http://ieee.iit.io/">organizations</a>, increasing membership/users through online marketing combined with a strong product. He has skills in online community building and IT consulting from work on the founding team of <a href="http://ysfhq.com/">YSFlight Headquarters</a> and as an independent web soltions consultant for Tendian.io, his IT consulting firm.</p>
                    <p><em>Specialties: Full-Stack Web Development, Cybersecurity, Radios, Engineering Management (small teams)</em></p>
                    <p><em>Seeking: Mentors, investors, partners, summer internships</em></p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://weclarify.com/" class="btn btn-lg btn-outline">
                        <strong><em>Clarify</em> your educational path today.</strong>
                    </a>
                </div>
            </div>
        </div>
    </section>
