
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            {% for post in site.posts %}
            {% if forloop.index0 == 0 or forloop.index0 == 3 or forloop.index0 == 6 or forloop.index0 == 9 or forloop.index0 == 12 %}<div class="row">{% endif %}
                <div class="col-sm-4 portfolio-item">
                    <h3>{{ post.project }}</h3>
                    <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.images.first.img | replace:'.png','' }}-800x640.png" class="img-responsive" alt="{{ post.images.first.caption }}">
                    </a>
                </div>
            {% if forloop.index0 == 2 or forloop.index0 == 5 or forloop.index0 == 8 or forloop.index0 == 11 or forloop.index0 == 14 %}</div>{% endif %}
            {% endfor %}
        </div>
    </section>
